<!-----nav-->
<nav class="navbar navbar-expand-lg bg-light ">
  <div class="container-fluid">
    <ul class="nav nav-tabs">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/list">List</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/form">Form</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/slin">Login&SignUp</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/about']">about</a>
      </li>
    </ul>
  </div>
</nav>


<!-----list-->

<div class="row">
  <router-outlet></router-outlet>
</div>