<!-----nav-->
<nav class="navbar navbar-expand-lg bg-light ">
  <div class="container-fluid">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="#">List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Form</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Login&SignUp</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">about</a>
      </li>
    </ul>
  </div>
</nav>
<!-----list-->

<div class="row">
  <div class="container-fluid">
    <app-list></app-list>
  </div>


  <!------form-->



  <form>
    <div class="container">
      <app-form></app-form>
    </div>
  </form>


<!---login&signup-->
  <form>
    <div class="containet">
      <app-slin></app-slin>
    </div>
  </form>
  <div>
    <app-about></app-about>
  </div>
</div>
